{% extends 'base.html' %}
<!--extend: 引用公共页面，用于模板嵌套-->

<!--页面标题-->
{% block title %}
    {{ blog_type.type_name }}
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

<!--页面内容-->
{% block content %}
    <p>{{ blog_type.type_name }}</p>
    {% for blog in blogs %}
<!--        url解析-->
        <a href="{% url 'blog_detail' blog.pk %}">
            <h3>{{ blog.title }}</h3>
        </a>
        <p>{{ blog.content|truncatechars:30 }}</p>
    {% empty %}
        <p>--暂无内容，请带后续！--</p>
    {% endfor %}
    <p>一共有{{ blogs|length }}篇博客</p>
{% endblock %}
